@charset "utf-8";

body{
	background-color: #385E7B;
	background-image:url(../images/pattern-background.jpg);
	background-repeat:repeat-x;
	margin: 0px;
	padding: 0px;
}

#clck{
	position: relative;
	left: 3px;
	top: -10px;
	visibility: visible;
	z-index: 10;
}

span.homelabelover{
	background-color:#FFF;
}

div.sample_attach, a.sample_attach
{
  height:20px;
  background: #FFF;
  padding: 0px;
  margin-left:0px;
  text-indent:7px;
  vertical-align:middle;
  font:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size:12px;
}

a.sample_attach
{
  height:25px;
  display: block;
  border-bottom: none;
  text-decoration: none;
}

div.sample_attach2, a.sample_attach2
{
  width: 175px;
  height:20px;
  border-bottom: 1px solid #999;
  background: #FFF;
  padding: 0px;
  margin-left:0px;
  text-indent:15px;
  font:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size:12px;
  vertical-align:middle;
}

a.sample_attach2
{
  display: block;
  height:25px;
  border-bottom: none;
  text-decoration: none;
}

div.sample_attach3, a.sample_attach3
{
  width: 265px;
  height:20px;
  border-bottom: 1px solid #999;
  background: #FFF;
  padding: 0px;
  margin-left:0px;
  text-indent:7px;
  font:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size:12px;
  vertical-align:middle;
}

a.sample_attach3
{
  display: block;
  border-bottom: none;
  height:25px;
  text-decoration: none;
}

#specials_child a, #research_child a, #finance_child a, #location_child a
{
	font-family: Arial, Helvetica, sans-serif;
  	font-weight: normal;
  	font-size:14px;
	text-decoration:none;
	vertical-align:middle;
	color: #333;
	background-color: #FFF;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

#specials_child a:hover, #research_child a:hover, #finance_child a:hover
{
	text-decoration:none;
	color: #FFF;
	background-color: #660000;
  	font-weight: normal;
  	font-size:14px;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

#location_child a:hover
{
	font:Arial, Helvetica, sans-serif;
  	font-weight: normal;
  	font-size:12px;
	text-decoration:underline;
	color:#000;
	vertical-align:middle;
	background-color: #FFF;
	
}

div.sample_attach4, a.sample_attach4
{
  width: 80px;
  height:20px;
  vertical-align:middle;
  border-bottom: 1px solid #999;
  background: #FFF;
  padding: 0px;
  margin-left:0px;
  text-indent:7px;
  font:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size:12px;
}

a.sample_attach4
{
  height:25px;
  display: block;
  border-bottom: none;
  text-decoration: none;
}

form.sample_attach
{
  position: absolute;
  visibility: hidden;
  border: 1px solid #999;
  background: #FFF;
  padding: 0px 5px 2px 5px;
}
#err{
	color:#F00;
	font:"Courier New", Courier, monospace;
	font-size:12px;
	text-align:left;
	vertical-align:top;
}
#loading_div, #thanks_div{
	visibility: hidden;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	z-index: 50;
	top: 50px;
	left: 53px;
	width: 980px;
	height: 305px;
	background: #333;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#loading_inner, #thanks_inner{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 125px;
	left: 462.5px;
}
#thanks_inner{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 75px;
	left: 425px;
}
.content-data {
	float: left;
	height:300px;
	width: 606px;
	padding-top: 10px;
	padding-left: 10px;
	text-align: left;
	overflow:auto;
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #FFFFFF;
    scrollbar-face-color: #3399CC;

}
