html, body{
FONT-FAMILY:  Arial, Helvetica, sans-serif;
font-size: 12px;
scrollbar-face-color:#f2f2f2;
scrollbar-base-color:#cccccc;
scrollbar-arrow-color:#ef7329;
scrollbar-track-color:#f2f2f2;
}
a {
	color: #C64934;
	text-decoration: none;
}
a:hover {
	color : #30569D;
	text-decoration : underline;
}
a:active {
	color : #333333;
	text-decoration : underline;
}
.redtitle
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #C64934;
}
.form-block {
	border: 1px solid #cccccc;
	background: #E9ECEF;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.titles01 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	background-color:#DDDDDD;
}
.titles001 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	background-color:#F15922;
}
.titles02 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	background-color:#E3E2E2;   
}
.titles002 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	background-color:#F0794F;   
}
.titles03 {
	font-family:Arial;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	background-color:#F3F3F3;   
}
.titles003 {
	font-family:Arial;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	background-color:#EEB29D;   
}

.td2 {
	color: #333333;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: #275094;
}

input{
	border : 1 solid Black;
}
.but01 {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6699CC;
	height: 15px;
	width: 40px;
	border: none;
}

textarea{
	border : 1 solid Black;
}
.sidenewshdr{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	text-decoration:none;
}
.sidenewshdr:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FF3300;
	text-decoration:none;
}
.navbar{
 font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color: #FFFFFF;
	background-color: #6699CC;
}
.menuBar1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
	background-color: #D1DBE9;
	border : 1px solid #ffffff;
	text-decoration: none;
	cursor: hand;
}
.menuBar2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
	background-color: #EBEBEB;
	border : 1px solid #ffffff;
	text-decoration: none;
	cursor: hand;
}

.menuLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.tit {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #334097;
}
.tit01 {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FF6600;
}

.title {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
h3 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.select01 {

	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background:#6699CC;
}

.contentfont {
	color: #23449A;
}

.titlefont{
font-weight:bold;color:#000066
}
.button, submit
{
	border : solid 1px #cccccc;
	background: #E9ECEF;
	color : #666666;
	font-weight : bold;
	font-size : 11px;
	padding: 4px;
}
.login {
	padding: 15px;
	border: 1px solid #cccccc;
	width: 500px;
	background: #F1F3F5;
}

.inputstyle2{ BORDER-RIGHT: #526BB5 1px solid; BORDER-TOP: #526BB5 
  1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #526BB5 1px solid; COLOR: #666666; BORDER-BOTTOM: 
  #526BB5 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: 
  white; TEXT-DECORATION: none }
  
 .adminheader {  text-decoration:none;color:#000000 ;}
 .inputstyle{
	width: 150px;
	border: 1px solid #cccccc;
 }
 .menudottedline {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #ffffff;
	background-color: #F1F3F5;
}
.textfield {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 14px;
	height:25px;
	width:300px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #23449A;
}
.link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #23449A;
	font-weight:bold;
	text-decoration: underline;
}
.link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #23449A;
	font-weight:bold;
	text-decoration: none;
}
.linknew{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #23449A;
	font-weight:bold;
	text-decoration: underline;
}
.linknew:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #23449A;
	font-weight:bold;
	text-decoration: none;
}


div.sample_attach, a.sample_attach
{
  width: 260px;
  height:20px;
  border: 1px solid black;
  background: #E4E4E4;
  padding: 0px 5px;
  color: #000000;
}

a.sample_attach
{
  display: block;
  border-bottom: none;
  text-decoration: none;
}

form.sample_attach
{
  position: absolute;
  visibility: hidden;
  border: 1px solid black;
  background: #E4E4E4;
  padding: 0px 5px 2px 5px;
}